/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/public/css
/public/js
/public/images
/public/fonts
/resources/assets/sass/vendor
Homestead.json
Homestead.yaml
.env
.DS_Store
npm-debug.log
demo_db
Ajout_de_l_action_bar.patch
.rnd
public/mix-manifest.json
public/mix-manifest.json
