$sm: 636px;


@import "../../../node_modules/imperavi-kube/src/kube";

/* ICONS */

$icons_path: '../icons/';
$primary_color: #4FBD84;
$primary_lighter: #60D196;

$adaptiveMenuBreakpoint: 948px;


body{
    font-family: 'Lato', sans-serif;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.wrapped{
    width: 98%;
    max-width: 940px;
}

.auto{
    @include flex-item-auto;
}

.m0{
    margin: 0 !important;
}

.ib{
    display: inline-block !important;
}



i{


    display: inline-block;
    speak: none;
    background-size: 100%;

    &.dashboard{
        background-image: url($icons_path + 'dashboard.png');
    }

    &.activities{
        background-image: url($icons_path + 'activities.png');
    }

    &.members{
        background-image: url($icons_path + 'members.png');
    }

    &.payments{
        background-image: url($icons_path + 'payments.png');
    }

    &.settings{
        background-image: url($icons_path + 'settings.png');
    }

}

@mixin icon($size: 24px, $margin: ''){
    width: $size;
    height: $size;
    vertical-align: -($size/4);

    @if $margin == left
    {
        margin-left: $size/2;
    }
    @else if $margin == right
    {
        margin-right: $size/2;
    }
}