$colors: (
  red: #BF2D2B,
  orange: #B36F2B,
  yellow: #b5b52b,
  green: #44bd2b,
  aqua: #2bbdb1,
  blue: #2B50B6,
  purple: #4e2bb5,

);

@each $key, $value in $colors{
  .#{$key}-sheet{
    color: $value;
    border-color: $value !important;
    background-color: lighten(saturate($value, 100%), 52%);

    &.colorful{
      background-color: lighten(saturate($value, 20%), 10%);
    }

    &.dark{
      color: white;
      background-color: $value;
    }
  }

  .#{$key}-text{
    color: $value;
  }

}