$text-color: #242424;
$primary_color: #4FBD84;
$primary_lighter: #60D196;


$colors: (
  red: #BF2D2B,
  orange: #B36F2B,
  yellow: #b5b52b,
  green: #44bd2b,
  aqua: #2bbdb1,
  blue: #2B50B6,
  purple: #4e2bb5,
  gray: #939393,
  white: #fff

);

@each $key, $value in $colors{
  .#{$key}-sheet{
    color: $value;
    background-color: lighten(saturate($value, 100%), 52%) !important;

    &.bordered{
      border-color: $value !important;
    }

    &.colorful{
      background-color: lighten(saturate($value, 20%), 10%) !important;
    }

    &.dark{
      color: white;
      background-color: $value !important;
    }
  }

  .#{$key}-text{
    color: $value;

    &.darker{
      color: darken($value, 10%) !important;
    }
  }

}

$dialog-background: #F4F4F4;
$dialog-header-1: $primary_color;
$dialog-header-2: $primary_lighter;
$dialog-footer: #E3E3E3;

$btn-neutral: #848484;
$btn-agree: $primary_color;
$btn-critical: #D65757;